# Exploratory analysis of the sleep state data

In [1]:
import pandas as pd
from pyarrow import parquet as pq

In [2]:
# Reading parquet file
parquet_file = pq.ParquetFile('train_series.parquet')

In [3]:
# View Parquet Metadata
print(parquet_file.metadata)

<pyarrow._parquet.FileMetaData object at 0x1203bb740>
  created_by: Arrow2 - Native Rust implementation of Arrow
  num_columns: 5
  num_rows: 127946340
  num_row_groups: 488
  format_version: 2.6
  serialized_size: 143859

In [6]:
# Reading the parquet file into a pandas dataframe
train_df = pd.read_parquet("train_series.parquet", engine="fastparquet")

:

In [ ]:
train_df

              series_id      step                 timestamp     anglez    enmo
0          038441c925bb       0.0  2018-08-14T15:30:00-0400   2.636700  0.0217
1          038441c925bb       1.0  2018-08-14T15:30:05-0400   2.636800  0.0215
2          038441c925bb       2.0  2018-08-14T15:30:10-0400   2.637000  0.0216
3          038441c925bb       3.0  2018-08-14T15:30:15-0400   2.636800  0.0213
4          038441c925bb       4.0  2018-08-14T15:30:20-0400   2.636800  0.0215
...                 ...       ...                       ...        ...     ...
127946335  fe90110788d2  592375.0  2017-09-08T00:14:35-0400 -27.277500  0.0204
127946336  fe90110788d2  592376.0  2017-09-08T00:14:40-0400 -27.032499  0.0233
127946337  fe90110788d2  592377.0  2017-09-08T00:14:45-0400 -26.841200  0.0202
127946338  fe90110788d2  592378.0  2017-09-08T00:14:50-0400 -26.723900  0.0199
127946339  fe90110788d2  592379.0  2017-09-08T00:14:55-0400 -31.521601  0.0205

[127946340 rows x 5 columns]