# Exploratory analysis of the sleep state data

In [1]:
# Import Libraries
import pandas as pd
from pyarrow import parquet as pq

In [2]:
# Testing Binary Classifier using Logistic Regression on the
# classical iris dataset

from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
X, y = load_iris(return_X_y=True)
clf = LogisticRegression(random_state=0).fit(X, y)
clf.predict(X[:2, :])
clf.predict_proba(X[:2, :])
clf.score(X, y)

/Volumes/T7/Github/Sleep-States/py_sleep_venv/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9733333333333334

In [3]:
# Reading parquet file
parquet_file = pq.ParquetFile('train_series.parquet')

In [4]:
# View Parquet Metadata
print(parquet_file.metadata)

<pyarrow._parquet.FileMetaData object at 0x13bf65210>
  created_by: Arrow2 - Native Rust implementation of Arrow
  num_columns: 5
  num_rows: 127946340
  num_row_groups: 488
  format_version: 2.6
  serialized_size: 143859

In [5]:
# Reading the parquet file into a pandas dataframe
train_df = pd.read_parquet("train_series.parquet", engine="fastparquet")

In [6]:
test_df = pd.read_parquet('test_series.parquet', engine='fastparquet')

In [7]:
train_events = pd.read_csv('train_events.csv')

In [8]:
train_df.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb   0.0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb   1.0  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb   2.0  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb   3.0  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb   4.0  2018-08-14T15:30:20-0400  2.6368  0.0215

In [9]:
test_df.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb   0.0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb   1.0  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb   2.0  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb   3.0  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb   4.0  2018-08-14T15:30:20-0400  2.6368  0.0215

In [10]:
# train_df.iloc[0]
train_df.iloc[127946340 - 1]

series_id                fe90110788d2
step                         592379.0
timestamp    2017-09-08T00:14:55-0400
anglez                     -31.521601
enmo                           0.0205
Name: 127946339, dtype: object

In [11]:
train_events.head()

      series_id  night   event     step                 timestamp
0  038441c925bb      1   onset   4992.0  2018-08-14T22:26:00-0400
1  038441c925bb      1  wakeup  10932.0  2018-08-15T06:41:00-0400
2  038441c925bb      2   onset  20244.0  2018-08-15T19:37:00-0400
3  038441c925bb      2  wakeup  27492.0  2018-08-16T05:41:00-0400
4  038441c925bb      3   onset  39996.0  2018-08-16T23:03:00-0400

In [12]:
len(train_events)
# train_events.iloc[0:]

14508

In [13]:
# Use train events & train df & join on series_id 
# Train a Logistic Regression where the events (onset/wakeup) are the
# classes and the angle is given

In [14]:
train_events.head()

      series_id  night   event     step                 timestamp
0  038441c925bb      1   onset   4992.0  2018-08-14T22:26:00-0400
1  038441c925bb      1  wakeup  10932.0  2018-08-15T06:41:00-0400
2  038441c925bb      2   onset  20244.0  2018-08-15T19:37:00-0400
3  038441c925bb      2  wakeup  27492.0  2018-08-16T05:41:00-0400
4  038441c925bb      3   onset  39996.0  2018-08-16T23:03:00-0400

In [15]:
train_df.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb   0.0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb   1.0  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb   2.0  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb   3.0  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb   4.0  2018-08-14T15:30:20-0400  2.6368  0.0215

In [ ]:

# train_events.join(test)
train_df.join(train_events.set_index('series_id'), on='series_id')